<div class="card-category header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key %>')">
  <h1><%= @list.name %> </h1>
</div>

<% @list.movies.each do |movie| %>
  <div class='container' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path movie.poster_url %>')">
  <p>Title: <%= movie.title %></p>
  <p>Overview: <%= movie.overview %></p>
  <p>Rating: <%= movie.rating %></p>

  <% movie.bookmarks.each do |book| %>
  <p>Comment: <%= book.comment %></p>
  <% end %>
  <p><%= link_to 'Destroy', bookmark_path(Bookmark.find_by(movie: movie, list: @list)), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<%= link_to "ADD BOOKMARK", new_list_bookmark_path(@list) %>
